@import "../../../node_modules/bootstrap/scss/functions";
@import "../../../node_modules/bootstrap/scss/variables";
@import "../../../node_modules/bootstrap/scss/mixins";

.fa-2x {
  vertical-align: middle;
}

label.form-check-label {
  font-size: 1.2em;
}

// Hide the actual checkbox but don't remove it from the DOM
label input[type="checkbox"] {
  opacity: 0;
  margin-right: -1.5rem;
}

label input[type="checkbox"] ~ fa-icon.fa.fa-square-o
{
  color: #ced4da;
  display: inline;
}

label input[type="checkbox"] ~ fa-icon.fa.fa-check-square-o
{
  display: none;
}

label input[type="checkbox"]:checked ~ fa-icon.fa.fa-square-o{
  display: none;
}

label input[type="checkbox"]:checked ~ fa-icon.fa.fa-check-square-o {
  color: color("text-dark");
  display: inline;
}
