@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/mixins";

label.form-check-label {
  color: #c8c8c8;
  font-size: 1.2em;
}

// Hide the actual checkbox but don't remove it from the DOM
label input[type="checkbox"] {
  opacity: 0;
}

label input[type="checkbox"] ~ fa-icon.fa.fa-square-o{
  color: #c8c8c8;
  display: inline;
}

label input[type="checkbox"] ~ fa-icon.fa.fa-check-square-o
{
  display: none;
}

label input[type="checkbox"]:checked ~ fa-icon.fa.fa-square-o{
  display: none;
}

label input[type="checkbox"]:checked ~ fa-icon.fa.fa-check-square-o
{
  color: theme-color();
  display: inline;
}

