<h2>Farming Game Net Asset Calculator</h2>
<div>
  <label for="hayAcres">Acres of Hay</label>
  <input type="number" id="hayAcres" #hayAcres 
    min="0" step="10"
    (change)="hayAcresChanged(hayAcres.value)">
</div>
<div>
  <label for="grainAcres">Acres of Grain</label>
  <input type="number" id="grainAcres"
  #grainAcres
  min="0" step="10"
  (change)="grainAcresChanged(grainAcres.value)">
</div>
<div>
  <label for="fruitAcres">Acres of Fruit</label>
  <input type="number" id="fruitAcres" #fruitAcres
  min="0" step="5"
  (change)="fruitAcresChanged(fruitAcres.value)">
</div>
<div>
  <label for="cowCount">Number of Cows</label>
  <input type="number" #cowCount
  min="0" step="10"
  (change)="cowsChanged(cowCount.value)">
</div>
<div>
  <label for="hasTractor">Tractor?</label>
  <input type="checkbox" id="hasTractor" #hasTractor
  (change)="tractorChanged(hasTractor.checked)">
</div>
<div>
  <label for="hasHarvester">Harvester?</label>
  <input type="checkbox" id="hasHarvester" #hasHarvester
  (change)="harvesterChanged(hasHarvester.checked)">
</div>
<div>
  <label for="cashAmount">Cash on Hand</label>
  <input type="text" id="cashAmount" #cashAmount
  (change)="cashChanged(cashAmount.value)">
</div>
<h3 id="cashOutput">{{cashPhrase}}</h3>