<nav class="navbar navbar-dark bg-dark">
  <span class="text-light">Farming Game Net Asset Calculator</span>
</nav>
<div class="container mt-2">
  <app-touch-input-spinner id="hayAcres" step="10"
    [ngModel]="hayAcres"
    (ngModelChange)="hayAcresChanged($event)">
    Acres of Hay
  </app-touch-input-spinner>
  <app-touch-input-spinner id="grainAcres" step="10"
    [ngModel]="grainAcres"
    (ngModelChange)="grainAcresChanged($event)">
    Acres of Grain
  </app-touch-input-spinner>
  <app-touch-input-spinner id="fruitAcres" step="5"
    [ngModel]="fruitAcres"
    (ngModelChange)="fruitAcresChanged($event)">
    Acres of Fruit
  </app-touch-input-spinner>
  <app-touch-input-spinner id="cowCount" step="10"
    [ngModel]="numberOfCows"
    (ngModelChange)="cowsChanged($event)">
    Number of Cows
  </app-touch-input-spinner>
  <div class="form-group form-check">
  </div>
  <div class="form-group form-check-inline">
    <label class="form-check-label" for="hasTractor">
      <input type="checkbox" class="form-check-input"
      id="hasTractor"
      [ngModel]="hasTractor"
      (ngModelChange)="tractorChanged($event)">
      <fa-icon [icon]="faSquare" class="fa fa-square-o fa-2x" ></fa-icon>
      <fa-icon [icon]="faCheckSquare" class="fa fa-check-square-o fa-2x"></fa-icon>
      Tractor?
    </label>
    <label class="form-check-label" for="hasHarvester">
      <input type="checkbox" name='hasHarvester' class="form-check-input"
      id="hasHarvester" #hasHarvester
      [ngModel]="hasHarvesterValue"
      (ngModelChange)="harvesterChanged(hasHarvester.checked)">
      <fa-icon [icon]="faSquare" class="fa fa-square-o fa-2x" ></fa-icon>
      <fa-icon [icon]="faCheckSquare" class="fa fa-check-square-o fa-2x"></fa-icon>
        Harvester?
    </label>
  </div>
  <app-dollar-amount-input
  (dollarAmountOutput)="cashChanged($event)">
    Cash on Hand
  </app-dollar-amount-input>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Total Net Assets</div>
    <div class="card-body">
      <h3 *ngIf="totalAmount == 0">{{cashPhrase}}</h3>
      <h3 *ngIf="totalAmount > 0">{{totalAmount | currency:'USD':'symbol':'1.0-0'}}</h3>
    </div>
  </div>
  <div>
    <button class="btn btn-primary"
      (click)="onResetClicked()">
        Reset
    </button>
  </div>
</div>
