<nav class="navbar navbar-dark bg-dark">
  <span class="text-light">Farming Game Net Asset Calculator</span>
</nav>
<div class="container">
  <app-touch-input-spinner id="hayAcres" label="Acres of Hay" step="10"
    (value)="hayAcresChanged($event)">
  </app-touch-input-spinner>
  <div class="form-group">
    <label for="grainAcres">Acres of Grain</label>
    <input type="number" class="form-control"
    id="grainAcres"
    #grainAcres
    min="0" step="10"
    (change)="grainAcresChanged(grainAcres.value)">
  </div>
  <div class="form-group">
    <label for="fruitAcres">Acres of Fruit</label>
    <input type="number" class="form-control"
    id="fruitAcres" #fruitAcres
    min="0" step="5"
    (change)="fruitAcresChanged(fruitAcres.value)">
  </div>
  <div class="form-group">
    <label for="cowCount">Number of Cows</label>
    <input type="number" class="form-control"
    id="cowCount" #cowCount
    min="0" step="10"
    (change)="cowsChanged(cowCount.value)">
  </div>
  <div class="form-group form-check">
  </div>
  <div class="form-group form-check-inline">
    <label class="form-check-label" for="hasTractor">
      <input type="checkbox" class="form-check-input"
      id="hasTractor" #hasTractor
      (change)="tractorChanged(hasTractor.checked)">
      <fa-icon [icon]="faSquare" class="fa fa-square-o fa-2x" ></fa-icon>
      <fa-icon [icon]="faCheckSquare" class="fa fa-check-square-o fa-2x"></fa-icon>
      Tractor?
    </label>
    <label class="form-check-label" for="hasHarvester">
      <input type="checkbox" name='hasHarvester' class="form-check-input"
      id="hasHarvester" #hasHarvester
      (change)="harvesterChanged(hasHarvester.checked)">
      <fa-icon [icon]="faSquare" class="fa fa-square-o fa-2x" ></fa-icon>
      <fa-icon [icon]="faCheckSquare" class="fa fa-check-square-o fa-2x"></fa-icon>
        Harvester?
    </label>
  </div>
  <div class="form-group">
    <label for="cashAmount">Cash on Hand</label>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text">$</span>
      </div>
      <input type="text" id="cashAmount" #cashAmount
      class="form-control" aria-label="Amount (to the nearest hundred)"
      (change)="cashChanged(cashAmount.value)">
    </div>
  </div>
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">Total Net Assets</div>
    <div class="card-body">
      <h3 *ngIf="totalAmount == 0">{{cashPhrase}}</h3>
      <h3 *ngIf="totalAmount > 0">{{totalAmount | currency:'USD':'symbol':'1.0-0'}}</h3>
    </div>
  </div>
</div>
