<div class="form-group row">
  <label for={{id}} class="col-md-2 col-form-label my-md-3">{{label}}</label>
  <div class="input-group input-group-lg my-md-3 col-md-10">
    <div class="input-group-prepend">
      <button class="btn btn-outline-secondary" type="button" id="button-plus"
      (click)="increment()">+</button>
    </div>
    <input type="number" class="form-control"
      id={{id}} #spinner
      min="{{min}}" step="{{step}}"
      [ngModel]="inputValue"
      (ngModelChange)="onInputChanged($event)">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" type="button" id="button-minus"
      (click)="decrement()">-</button>
      </div>
  </div>
</div>
